<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Intel RealSense D435</name>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Yuna Cho</name>
    <email>yncho3477@gmail.com</email>
  </author>

  <description>
    The Intel RealSense D435 medium-range depth camera. http://www.intel.com/realsense
  </description>
</model>
